#OSX files
.DS_Store
._*
.AppleDouble
.LSOverride

#Compiled files
*.mexw64
*.mexmaci64
*.exe
*.obj
*.o
*.lib
*.a
*.dll

#temp files
*.asv
*.m~
*.mat
*.zip
*.pdf

# latex/Texstudio
*.gz
*.out
*.aux
*.log
*.blg
*.bbl

# Test Code
#test*.m
